.container-fluid{
  background-image: url('./assets/fondonuevo.png');
}

.card{
  width: 18rem;
}

.card-text{
  color:black;
}

.product-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px;
  text-align: center;
}

.container{
  color: aliceblue;
  text-align: center;
  padding-left:500cm;
}